/*CSS Reset*/

* {
	margin: 0,
	padding: 0;
	box-sizing: border-box;
}

h1, h2 {
	color: yellow;
	background-color: rgba(	128, 0, 128, 0.5);
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 50%;
	margin: 5% auto;
	padding: 3%;
}

body {
	background-image: url('../images/bg.png');
	/*background-color: purple;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: relative;
	min-height: 80vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}


fieldset {
	background-color: rgba(255,255,255,0.75);
	width: 50%;
	margin: 0 auto;
	padding: 3%;
	border-radius: 20px;
	border-style: outset;
	min-height: 100%;
}
input:focus {
	background-color: rgba(128,0,128,0.3);
}

input.form-control:focus {
	background-color: rgba(128,0,128,0.3);
}

a {
	color: purple;
	padding:1px 4px;
}
a:hover {
	text-decoration: none;
	color:yellow;
	background-color: purple
}

#adminLink, #userLink, #backToInfo {
	float: left;
	color: yellow;
}

#button {
 display: flex;
 justify-content: center;
}

button:hover {
	border-width: 4px;

}

#submit-btn {
	display: flex;
	justify-content: center;
}

/*CSS for Welcome Page*/
h3	{
	margin-bottom: 5%;
}

h5 {
	margin-bottom: 5%;
}

form{
	margin: 2rem
}
#alert {
	visibility: hidden;
}

#inputIsAdmin:focus + #alert {
	visibility: visible;
}

.userInfo {
	color: purple;
	font-weight: bolder;
}

#updateNow {
	align-content: center;
}

ul {
	width: 50%;
	margin: 2rem auto;
	border-radius: 20px;
}

li {
	font-size: 1.5rem;
	text-align: center;
	font-weight: bolder
}




@media only screen and (max-width: 600px) {
	h1{
		font-size: 30px;
	}

	fieldset {
		width: 80%;
	}
	ul {
		width: 80%
	}
	button {
		padding: 0;
	}

	.card {
		width: 100%;
		padding: 10%;
	}
}